<section>
    <h2>About Page</h2>
    <div>
        <p>Author: Lita Mihai</p>
        <p>Version: 1.0.0</p>
        <p>Github: <a href="https://github.com/LitaMihai" target="_blank">link</a></p>
        <p>
            Website-Portfolio:
            <a 
                href="https://litamihai.github.io/Website-Portfolio/"
                target="_blank"
            >
            link
            </a>
        </p>
    </div>
    <div>
        <br>
        <a routerLink="/">Back to homepage</a>
    </div>
</section>