<section>
    <h2>About Page</h2>
    <div>
        <p>Author: <a href="https://litamihai.github.io/Website-Portfolio/" target="_blank">Lita Mihai</a></p>
        <p>Version: 1.0.0</p>
        <p>
            Documentation
            <a 
                href="https://litamihai.github.io/Website-Portfolio/"
                target="_blank"
            >
            link
            </a>
        </p>
    </div>
    <div>
        <br>
        <a routerLink="/">Back to homepage</a>
    </div>
</section>